/* buttons  styling*/
.btn{

    &:link,
&:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; 
    position: relative;   
   transition: all 0.3s;

}
&:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,0.2);
   &:after{
        transform: scaleX(1.4) scaleY(1.5 );
        opacity: 0;
        
    }
}
&:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
}
&::after{
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 10rem;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.4s;

}
&--white{
    color:$color-gray;
    background: $color-white;
   
    &:after{
        background: $color-white;
    }
}
&--animated{  
    animation: moveInBottom .5s ease-out 0.75s;
    animation-fill-mode: backwards;
}
}

.btn-text{
    &:link,
    &:visited{
        display: inline-block;
        font-size:$defualt-font;
        color:$primary-color;
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
        padding:3px;
        transition: all .2s;
    }
    &:hover{
        background-color: $primary-color;
        color:$color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        // transform: translateY(-20 px);
        transform: translateY(-5px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
         
    }
}
