.story{
    position: relative;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color:rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 3rem ;
    font-size: $defualt-font;
    transform: skewX(-12deg);
    & >*{
        transform: skewX(12deg);
    }
   
    &__shape{
        width: 10rem;
        height: 10rem;
       
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside:circle(50% at 50% 50%);

        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) scaleX(12deg);
        
    }
    &__img{
        height: 100%;
        transform: translateX(2rem) scale(1.5);
        backface-visibility: hidden;

    }

   
    &__text{
        transform: skewX(12deg);
    }
    &__caption{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,50%);
        font-size: 1.4rem;
        color:$color-white;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all 1s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);

    }
    &:hover &__img{
        transform: translateX(2rem) scale(1);
        backface-visibility: hidden;
        filter: blur(2px) brightness(50%);
    }
}